.main-container {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 100px;
   
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}
h2{
    display: flex;
    justify-content: center;
}
h3{ 
    display: flex;
    justify-content: center;

    /* color:whitesmoke */
}

main {
    height: 100vh;
    /* flex: 1; */
    background-color: white;
    
}
footer {
height: 80px;

}
nav ul{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
}
nav ul li{
    list-style: none;
    display:flex;
    justify-content: center;
    

}
ul li button {
    background-color: transparent;
    border: none;
    padding: 20px 0px 10px 0px;
    text-transform: uppercase;
    
} 
nav li button:hover {
    color:aqua;
}
h3 {
    font-family: 'Bebas Neue'; 
    
}


  
  #table1 {
    border-collapse: separate;
    border-spacing: 285px 55px;
    margin-top: 130px;
    margin-left: 80px;
  }
  
  
    





footer {
    display: grid;
    /* grid-template-columns: 1fr,1fr; */
    background-color:black;
    color: white;
   
}


footer ul {
    list-style: none;
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;
    padding-right: 70px;
    margin-left: 80px;
}

footer ul li img{
    
    background-color: white;
    
}
tr td button{
    background-color: black;
    color:white
}
tr td span {
   font-size: 20px;
   padding-left: 110px;
}
main table tr td {
    border: 5px solid black;
    height: 150px;
    width: 900px;
}
div img {
    display:flex;
    block-size: 180px;
    padding: 0px 40px 20px 50px;
    
}
@media (max-width 390px) {
   nav ul li {
 display: flex;
flex-direction: column;

   } 
    
}