.main-container {
    border: 2px solid green;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header {
    height: 150px;
    background-color: firebrick;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    height: 100%;
    flex: 1;
    background-color: white;
}
main div {
/* padding: 0 0 0px 40px;     */
background-color: blueviolet;

}
 main div p {
background-color: rgb(92, 152, 130);
 }

main.a button {
    grid-column: 2;
    height: 50px;
    width: 100px;
    background-color: aqua;
}
/* img  {
  object-fit:fill;
  background-repeat:no-repeat;
   
} */







main.b {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
}
main.b section div.img {
    margin: 0px;
    padding: 0px;
  
    border: 1px solid black;
    height: 250px;
    width: 250px;
}

footer {
    display: grid;
    grid-template-columns: 1fr,1fr;
    background-color: rgb(238, 141, 249);
}
footer div button {
height: 50px;
width: 50px;

}
footer div.buttons {
    grid-column: 2;
    display: flex;
}

footer button.social {
    display: flex;
    flex-flow: row nowrap;
}


header nav ul {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    list-style: none;

    
}
@media (max-width: 576px) {
header nav {    
    display: none;
}
}